<section class="card">

  <h1>Notifications</h1>

  <% @notifications.each do |notification| %>
  <%= link_to notification.content, notification.link %>
  <%= link_to '(Delete)', notification, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</section>
