<p id="notice"><%= notice %></p>

<h1>Notifications</h1>

<% @notifications.each do |notification| %>
<%= notification.content %>
<%= link_to 'Show', notification.link %>
<%= link_to 'Delete', notification, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br>
