<aside class="col-md-3"></aside>

<div class="col-md-6">
	<section class="new-post">
		<%= render 'post', post: Post.new %>
	</section>
	<section>
		<% @adverts.each do |advert| %>
		<article class="row post">
			<div class="col-xs-2">
				<a href="#" class="thumbnail">
					<img src="https://placehold.it/60">
				</a>
			</div>
			<div class="col-xs-10">
				<%= advert.product %>
				<%= advert.advertiser %>
				<%= link_to 'More Info', advert %>
			</div>
		</article>
		<% end %>
	</section>
</div>

<aside class="col-md-3"></aside>
