<section class="col-md-3">x</section>

<div class="col-md-6">
	<section class="new-post">
		<%= render 'post', post: Post.new %>
	</section>
	<section>
		<% @adverts.each do |advert| %>
		<article>
			<%= advert.product %>
			<%= advert.advertiser %>
			<%= link_to 'More Info', advert %>
		</article>
		<% end %>
	</section>
</div>

<aside class="col-md-3">x</aside>
