/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "home";
// @import "scaffolds";

$gray_100: #BDBDBD;
$gray_200: #EEEEEE;
$gray_600: #757575;
$gray_700: #616161;
$pramary_color: #2196F3;
$vertical_spacing: 16px;

body{
  background-color: $gray_100;
}

#mainNav{
  -webkit-box-shadow: 0px 10px 30px -10px rgba(153,153,161,1);
  -moz-box-shadow: 0px 10px 30px -10px rgba(153,153,161,1);
  box-shadow: 0px 10px 30px -10px rgba(153,153,161,1);
  background-color: white;
  ul{
    margin: 0;
    li{
      display: inline-block;
      &:hover{
        border-bottom: 3px solid $pramary_color;
        margin-bottom: -3px;
      }
    }
    a{
      color: $gray_600;
      padding: 15px 15px 15px 5px;
      display: inline-block;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .nav-icon{
    padding-left: 10px;
    font-size: 18px;
    color: $gray_700;
  }
}



main{
  margin-top: $vertical_spacing;
}

.new-post{
  padding: $vertical_spacing;
  margin-bottom: $vertical_spacing;
  background-color: #E8F4FB;
  .action{
    padding-top: 5px;
    overflow: hidden;
    input{
      float: right;
    }
  }
}

.post{
  padding: $vertical_spacing;
  margin-left: -3px;
  margin-right: -3px;
}

aside, footer, article{
  background-color: white;
  margin-bottom: $vertical_spacing;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
