/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "home";
@import "alerts";
@import "login";
@import "bootstrap-social";
@import "font-awesome";

$gray_100: #BDBDBD;
$gray_200: #EEEEEE;
$gray_300: #E0E0E0;
$gray_400: #BDBDBD;
$gray_500: #9E9E9E;
$gray_600: #757575;
$gray_700: #616161;

$blue_500: #2196F3;
$blue_50: #E3F2FD;
$vertical_spacing: 16px;

body{
  background-color: $gray_100;
}

#mainNav{
  -webkit-box-shadow: 0px 10px 30px -10px rgba(153,153,161,1);
  -moz-box-shadow: 0px 10px 30px -10px rgba(153,153,161,1);
  box-shadow: 0px 10px 30px -10px rgba(153,153,161,1);
  background-color: white;
  ul{
    margin: 0;
    li{
      display: inline-block;
      &:hover{
        border-bottom: 3px solid $blue_500;
        margin-bottom: -3px;
      }
    }
    li#profile-icon{
      float: right;
      margin-right: 35px;
      img{
        height: 30px;
      }
    }
    a{
      color: $gray_600;
      padding: 15px 15px 15px 5px;
      display: inline-block;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .nav-icon{
    padding-left: 10px;
    font-size: 19px;
    color: $gray_600;
  }
}

main{
  margin-top: $vertical_spacing;
  padding: 0 50px;
}

.new-post{
  padding: $vertical_spacing;
  margin-bottom: $vertical_spacing;
  background-color: $blue_50;
  .action{
    padding-top: 5px;
    overflow: hidden;
    input{
      float: right;
    }
  }
}

.post{
  margin-left: -3px;
  margin-right: -3px;

  header{
    margin-bottom: $vertical_spacing / 2;
    .post-title{
      font-weight: bold;
    }
    .post-subtitle, .post-time{
      color: $gray_500;
    }
    .post-time{
      font-size: .8em;
    }
  }

  footer{
    border-top: 1px solid lighten( $gray_400, 10% );
    margin-top: $vertical_spacing;
    padding-top: 10px;
    a{
      color: $gray_500;
      &:hover{
        text-decoration: none;
        color: $gray_600;
      }
    }
  }
}

.comment{
  border-bottom: 1px solid lighten( $gray_400, 20% );
  padding-top: 10px;
  padding-bottom: 5px;

  .comment-profile-pic {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  header{
    margin-bottom: $vertical_spacing / 3;
    .comment-title{
      font-weight: bold;
    }
    .comment-time{
      color: $gray_500;
    }
    .comment-time{
      font-size: .8em;
    }
  }

  .delete{
    float: right;
    a {
      color: $gray_500;
      font-size: .9em;
    }
  }
}

.alert, .card {
  background-color: white;
  padding: $vertical_spacing;
  margin-bottom: $vertical_spacing;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.control-label{
  font-weight: normal;
}

.notifications-badge {
  background: $blue_500;
  position: relative;
  left: -20px;
  top: -10px;
}

@media (max-width: 570px) {
  main{
    padding: 0;
  }
  .post-profile-pic-area,
  .comment-profile-pic {
    display: none;
  }
}
