// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#loginBody{
  width: 75%;
  margin: 0 auto;
}

.login-area{
  #login-button{
    width: 80px;
  }

  #forgot-password{
    margin-left: 5px;
  }
}
