<section class="card">
  <form action="/home/index">
    <fieldset>
      <legend>Filter</legend>
      <select name="city">
        <option value="all">All</option>
        <option value="Eastern Cape">Eastern Cape</option>
        <option value="Free State">Free State</option>
        <option value="Gauteng">Gauteng</option>
        <option value="KwaZulu Natal">KwaZulu Natal</option>
        <option value="Lesotho">Lesotho</option>
        <option value="Limpopo">Limpopo</option>
        <option value="Gauteng">Gauteng</option>
        <option value="Mpumalanga">Mpumalanga</option>
        <option value="North West">North West</option>
        <option value="Northern Cape">Northern Cape</option>
      </select>
      <br><br>
      <input type="submit" value="Filter">
    </fieldset>
  </form>
</section>
